ovh
.env
ovh.conf

# Datas
data

# Chroma related stuff
ChromaDB

# python related stuff
__pycache__
pylintrc
python_env

# specific files
WikitPDFParser_Output.pdf
output.html

# vs-code stuff
*code-workspace
.vscode

# package build files
dist/
chunknorris.egg-info
