# env
.env

# Datas
data

# python related stuff
__pycache__
pylintrc
python_env

# pytest stuff
.coverage
file_md-chunked.json

# specific files
WikitPDFParser_Output.pdf
output.html
tests.ipynb

# vs-code stuff
*code-workspace
.vscode

# package build files
dist/
chunknorris.egg-info
build

# cache
.mypy_cache
.pytest_cache

# docs
/site
