pytest==9.0.3
pytest-cov==4.1.0
black==26.3.1
isort==8.0.1
pylint==4.0.7
mypy
build
twine
mkdocs==1.6.1
mkdocs-click==0.8.1
mkdocs-jupyter==0.25.1
pymdown-extensions==11.0.1
mkdocstrings-python==1.12.2
mkdocs-material==9.7.7
tiktoken==0.9.0
ipython
ipykernel