pytest==7.4.4
pytest-cov==4.1.0
black==24.8.0
pylint==3.3.1
mypy
build
twine
mkdocs==1.6.1
mkdocs-click==0.8.1
mkdocs-jupyter==0.25.1
pymdown-extensions==10.12
mkdocstrings-python==1.12.2
mkdocs-material==9.5.48
tiktoken==0.9.0
